.mono-font {
  font-family: 'JetBrains Mono', monospace;
}

.heading-font {
  font-family: 'Chivo', sans-serif;
}

.body-font {
  font-family: 'IBM Plex Sans', sans-serif;
}

.industrial-shadow {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.industrial-shadow-sm {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
}

.btn-industrial:active {
  transform: translateY(1px);
  box-shadow: none;
}

.table-zebra tbody tr:nth-child(even) {
  background-color: #fafafa;
}